body{
   background-color: #DEF5E5;
   margin: 15px;
}


hr {
  background-color: #BCEAD5;
  border-style: none;
  border-top-style: dotted;
  border-color: #8EC3B0;
  border-height : 0px;
  border-width: 6px;
  width: 10%;
}

h1 {
  color: #153462;
}

h2 {
    color: #153462;
}

h3 {
    color: #153462;
}

td {
 color: #153462
}

p {
   color: #153462
}

li {
   color: #153462
}

a {
  text-decoration: none;
  color: #f2eac9;
  background-color: #4E9CAF;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  color: #4E9CAF;
  background-color: #f2eac9;
  border-color: black;
  border-height : 0px;
  border-width: 1px;
  border-style: solid;

}

.submit-button {
  align-content: center;
  color: #f2eac9;
  width: 100px;
  background-color: #4E9CAF;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eee;
}

.submit-button:hover {
  color: #4E9CAF;
  background-color: #f2eac9;
  border-color: black;
  border-height : 0px;
  border-width: 1px;
  border-style: solid;
}
